* {
	box-sizing: border-box;
	font-family: helvetica;
}

body {
	background-color: #BEE6F0;
}

h1 {
	font-weight: bold;
	text-align: center;
	font-family: helvetica;
	color: #022831;
}

p {
	padding: 10px;
	margin: 0;
}

.container {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

section {
	border:	1px solid black;
	background-color: #9385C6;
	width: 100%;
	height: auto;
	font-family: Helvetica;
	color: black;
	position: relative;
	overflow: auto;
	border-radius: 22px;
}

#a {
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: #684EC6;
	border-radius: 40px;
}

#b {
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: #684EC6;
	border-radius: 40px;
}

#c {
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	background-color: #684EC6;
	padding: 5px;
	border-radius: 40px;
}

#a-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#b-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#c-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

.navbar-brand {
  font-size: 2em;
  border: 0 0 10px 10px;
  color: #FFFFFF;
}

#header-nav {
  border: 0;
  background-color: #0a8ead;
  color: #FFFFFF;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #ffffff;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.nav-header {
  background-color: #FFFFFF;
}

.nav-brand {
  color: #FFFFFF;
  font-size: 1.5em;
}

#nav-list {
  color: white;
}

hr {
  border-color: white;
}

.item {
  color: white;
  font-size: 1.2em;
}
